<div class="modal" id="modal-exit">
    <div class="modal__dialog">
        <div class="modal__header">
            <span>Вы уверены, что хотите выйти?</span><br>
        </div>
        <div class="modal__body">
            <p>Все результаты будут сброшены</p>
        </div>
        <div class="modal__footer">
            <a class="btn-primary btn-primary-outline btn-cancel js-modal-close" href="#">Выход</a>
            <a class="btn-primary js-modal-close">Отмена</a>
        </div>
    </div>
</div>